* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins', sans-serif"; */
}

body {
  font-family: "Poppins-Bold', sans-serif";
  max-width: 1280px
}

/* ----------------fonts---------------- */
@font-face {
  font-family: "Poppins-Bold', sans-serif";
  src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: "Poppins-Medium', sans-serif";
  src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: "Poppins-ExtraLight', sans-serif";
  src: url('../fonts/Poppins-ExtraLight.ttf');
}
/* ----------------fonts---------------- */

/* ----------------nav---------------- */


.mf {
  font-family: "Poppins-Bold', sans-serif";
  margin-top: 0;
  position: static;
  margin-left: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  align-items: center;
  font-size: medium;
}

.nav {
  background-color: white;
  display: flex;
}

/* ----------------- */
.hwr {
  text-decoration: none;
  color: #394149;
}

.hwr:hover {
  cursor: pointer;
  color: #0D1317;
} 
/* ----------------- */
.bttn {
  font-family: "Poppins-Bold', sans-serif";
  color: #F58A07;
  margin-top: 6px;
  /* position:absolute; */
  width: 173px;
  height: 52px;
  top: 10px; 
  background: rgba(245, 138, 7, 0.1);
  border-radius: 31px;
  border: none;
  justify-content: center;
  align-items: center;
}


.nav2 {
  margin-left: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
}
/* .nav1 {
  margin-left: 12%;
} */
.nav {
  width: 1280px;
  height:80px;
  justify-content:space-between ;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.end {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.pl {
  width: auto;
  height: auto;
} 



/* ----------------nav---------------- */

/* ----------------hoh---------------- */

.hoh {
  width: 100vw;
  height: 749px;
  background-color: #DCEAF5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.hyt {
  width: 1410px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.neghalf {
  width: 559px;
  height: 427px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hoyorhalf {
  margin-left: 120px;
}

#po {
  border-radius: 20px;
}

.gurabf {
  display: flex;
  flex-direction: row;
  height: 32px;
  align-items: center;
}

.hoyorf {
  font-family: "Poppins-ExtraLight', sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #394149;
  opacity: 0.87;
  margin-left: 8px;
}

.gurawf {
  margin-left: 24px;
  font-family: "Poppins-ExtraLight', sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #394149;
  opacity: 0.87;
}

.garcig {
  width: 527px;
  height: 216px;
  font-family: "Poppins-Medium', sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 72px;
  letter-spacing: -0.03em;
  color: #1D3444;
  margin-top: 24px;
}

.utgaa {
  width: 559px;
  height: 90px;
  left: 319px;
  top: 541px;
  font-family: "Poppins-Medium', sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #5B5B5B;
  margin-top: 24px;
}
.negyum {
  width: auto;
  height: 17px;
  font-family: "Poppins-ExtraLight', sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 106.5%;
  color: #F58A07;
  margin-top: 24px;
}



/* ----------------hoh---------------- */

/* ----------------all posts---------------- */

/* .tomhuwi {
  width: 1280px;

} */
.uc {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.boldd {
  width: 1400px;
  font-family: "Poppins-Medium', sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #0D1317;
  margin-left: 130px;
  margin-top: 128px;
}


.neeg {
  width: 400px;
  height: 230px;
  
}

.hooyor {
  width: 400px;
  height: 230px;
  margin-left: 40px;
}

.guuraw {
  width: 400px;
  height: 230px;
  margin-left: 40px;
}
/* ---------------------------------- */

.hohtuya {
  width: 100vw;
  height: 600px;
}

.a {
  border-radius: 20px;
  background-color: #EDF7FF;
  width: 400px;
  height: 507px;
}

.border-e {
  border-radius: 20px 20px 0 0;
}

.trre {
  width: 336px;
  height: 213px;
  margin: 32px;
}

.zuragnuud {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.zuragnud {
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.border-r {
  width: 400px;
  height: auto;
  border-radius: 20px;
}

.utga {
  font-family: "Poppins-Medium', sans-serif";
  height: 84px;
  width: 336px;
  left: 321px;
  font-size: 16px;
  color: #5B5B5B;
  margin-top: 16px;
  margin-bottom: 24px;
}

.garchig {
  font-family: "Poppins-Medium', sans-serif";
  font-weight: 500;
  font-size: 24px;
}

.negyum {
  font-family: "Poppins-Medium', sans-serif";
  color:#F58A07;
  line-height: 106.5%;
}


/* ----------------all posts---------------- */

/* ----------------footer---------------- */

.bluefooter {
  width: 100vw;
  height: 463px;
  background: #063255;
  padding-top: 80px;
  position: relative;
  flex: 1;
}

#white {
  width: 351px;
  height: 88px;
  color: white;
  font-family: "Poppins-Bold', sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-top: 32px;
  margin-bottom: 35px;
}

.dorow {
  display: flex;
  flex-direction: row;
}

.dorow2 {
  margin-left: 23px;
}
.dorow3 {
  margin-left: 20px;
}
.dorow4 {
  margin-left: 20px;
}

.onts {
  color: white;
  font-family: "Poppins-Medium', sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
}
.busad {
  margin-top: 16px;
  color: white;
  font-family: "Poppins-Medium', sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}
#respond {
  width: 342px;
  height: 54px;
  background: white;
  border-radius: 31px;
  padding-top: 15px;
  margin-top: 24px;
}

.resin {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #9C9C9C;
  margin-left: 32px;
  
}

.yellwbttn {
  width: 156px;
  height: 54px;
  background: #F58A07;
  border-radius: 31px;
  border: none;
  font-family: "Poppins-Medium', sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 106.5%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 16px;
}

.bt1 {
  margin-left: 130px;
}
.taw {
  margin-left: 110px;
}
.bt3 {
  margin-left: 110px;
}
.bt4{
  margin-left: 110px;
}

.zaiiiii {
  margin-left: 32px;
}

#lef {
  position: absolute;
  flex: 1;
  top: 319px;
}

#righ {
  position: absolute;
  flex: 1;
  right: 0;
  top: 50px;
}

.allmight {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hoyorr {
  margin-left: 540px;
  margin-right: 170px;
  margin-top: 84px;
  width: auto;
  font-family: "Poppins-Medium', sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  
}

.zaii {
  margin-left: 733px;
  display: flex;
  flex-direction: row;
}

/* ----------------footer---------------- */